#wrap {
    width: 100%;
    height: auto;
}

#header {
    width: 100%;
    height: 150px;
}

#header .login {
    float: right;
    margin: 40px 290px 0 0;
    width: 300px;
    height: 50px;
}

#header .login li {
    float: left;
    color: #666;
    margin: 10px 20px 0 0;
}

#header .login li a:hover {
    color: red;
}

#header a {
    font-size: 16px;
    color: #000;
}

#header_in {
    margin: 0 auto;
    width: 1200px;
    height: 150px;
}

#header_in .twosome {
    margin: 0 auto;
    width: 560px;
    height: 100px;
    text-align: center;
    position: relative;
}

#header_in .twosome p {
    padding-top: 20px;
    box-sizing: border-box;
    font-size: 27px;
    font-weight: 900;
    color: black;
}

#header_in .twosome span {
    font-size: 14px;
    font-weight: 600;
    color: #666;
}

#header_in .nav {
    width: 1200px;
    height: 50px;
}

#header_in .nav ul {
    width: 100%;
    height: 50px;
}

#header_in .nav li {
    float: left;
    width: 240px;
    height: 50px;
    text-align: center;
    padding-top: 10px;
    box-sizing: border-box;
}

#header_in .nav li a {
    font-size: 20px;
    font-weight: 900;
    color: black;
}

#header_in .nav li a:hover {
    color: rgba(255, 0, 0, 0.651);
}

#header .navbar {
    position: absolute;
    top: 150px;
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    z-index: 9999;
    background-color: #fff;
}

#header .nav_btn {
    width: 1200px;
    height: 200px;
    display: flex;
    justify-content: space-between;
}

#header .nav_btn ul {
    float: left;
    margin: 0 auto;
    width: 200px;
    height: 200px;
    padding-top: 20px;
    box-sizing: border-box;
}

#header .nav_btn li {
    padding-left: 70px;
    box-sizing: border-box;
    line-height: 30px;
}

#header .nav_btn a {
    font-size: 16px;
    font-weight: 600;
    color: #666;
}














/* main */
#main {
    width: 100%;
    height: 650px;
}

#main .group {
    width: 100%;
    height: 650px;
    position: relative;
    display: flex;
    justify-content: end;
    overflow: hidden;
}

#main .main_img li {
    width: 100%;
    height: 650px;
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
}

#main .main_img li:nth-child(1) {
    left: 0;
}

#main .main_img li:nth-child(2) {
    left: 100%;
}

#main .main_img img {
    width: 100%;
    height: 650px;
}

#main .main_coffee {
    float: left;
    font-size: 40px;
    color: #666;
    position: absolute;
    top: 45%;
    left: 50%;
    z-index: 9999;
    font-family: 'Caramel', cursive;
}

#main .main_dessert {
    float: left;
    font-size: 50px;
    color: #666;
    position: absolute;
    top: 43%;
    left: 30%;
    z-index: 9999;
    font-family: 'Caramel', cursive;
}









/* contents */
#contents {
    width: 100%;
    height: 1050px;
    background: linear-gradient(#fff, cornsilk);
}

#con_in {
    margin: 0 auto;
    width: 1200px;
    height: 100vh;
}

#con_in .menu {
    width: 600px;
    height: 400px;
    padding-top: 20px;
    box-sizing: border-box;
    /* background-color: aliceblue; */
}

#con_in .menu_h {
    font-size: 30px;
    font-weight: 900;
    padding: 80px 0 0 100px;
    box-sizing: border-box;
}

#con_in .menu span {}

#con_in .menu hr {
    width: 150px;
    margin: 90px 0 0 100px;
}

#con_in .menu_b {
    font-size: 20px;
    padding: 80px 0 0 100px;
    box-sizing: border-box;
}

#con_in .button {
    margin-top: 20px;
    margin-left: 100px;
    font-size: 12px;
    padding: 5px 15px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 5px;
    color: #666;
    background-color: #fff;
    cursor: pointer;
}

#con_in .line {
    width: 1200px;
    margin-top: 80px;
    text-align: center;
}

#con_in .menu_img {
    float: right;
    width: 600px;
    height: 400px;
    margin-top: 1px;
}

#con_in .menu_img li {
    margin-top: 40px;
}

#con_in .menu_img img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: 5px 100px;
}

#con_in .menu_img .img2 {
    margin: 5px 200px;
}










/* sns */
#sns {
    width: 100%;
    height: 950px;
}

#sns .sns_btn {
    width: 100%;
    height: 50px;
    padding: 100px 0 0 0;
    box-sizing: border-box;
}

#sns .sns_btn h2 {
    width: 100px;
    font-size: 50px;
    margin: 0 0 0 300px;
    display: inline-block
}

#sns .sns_btn ul {
    float: right;
    margin: 20px 280px 10px 0;
}

#sns .sns_btn li {
    float: left;
    margin-right: 20px;
}

#sns .sns_btn img {
    width: 35px;
    height: 35px;
    border-radius: 5px;
}

#sns .sns_group {
    width: 100%;
    height: auto;
}

#sns .sns_group .sns_h {
    padding: 80px 0 0 290px;
    box-sizing: border-box;
}

#sns .sns_group .sns_h li {
    float: left;
    margin-right: 40px;
    width: 300px;
    position: relative;
}

#sns .sns_group .sns_h img {
    width: 300px;
    height: 300px;
}

#sns .sns_group .sns_h span {
    width: 300px;
    font-size: 20px;
    color: #fff;
    position: absolute;
    top: 90%;
    left: 5%;
    font-family: 'Poor Story', cursive;
}

#sns .sns_group .sns_b {
    padding-left: 290px;
    box-sizing: border-box;
}

#sns .sns_group .sns_b li {
    float: left;
    margin: 80px 40px 0 0;
    width: 300px;
    position: relative;
}

#sns .sns_group .sns_b img {
    width: 300px;
    height: 300px;
}

#sns .sns_group .sns_b span {
    width: 300px;
    font-size: 20px;
    color: #fff;
    position: absolute;
    top: 90%;
    left: 5%;
    font-family: 'Poor Story', cursive;
}










/* franchise */
#franchise {
    width: 100%;
    height: 500px;
    background: linear-gradient(#fff, rgb(255, 220, 226));
}

#franchise .franchise_l {
    padding: 50px 0 0 250px;
    box-sizing: border-box;
}

#franchise .franchise_l ul {}

#franchise .franchise_l li {
    float: left;

}

#franchise .franchise_l li img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
}

#franchise .franchise_l .dt {
    margin: 190px 0 0 -100px;
}

#franchise .franchise_l .dt img {
    width: 200px;
    height: 200px;
}

#franchise .franchise_r {
    float: right;
}

#franchise .franchise_r ul {}

#franchise .franchise_r li {
    float: right;
    margin: 30px 250px 0 0;
}

#franchise .franchise_r li:last-child {
    margin-right: 50px;
}

#franchise .franchise_r li img {
    width: 400px;
    height: 250px;
}

#franchise .btn {
    float: right;
    width: 800px;
    height: 50px;
    margin: 50px 270px 0 0;
    position: relative;
}

#franchise .btn ul {
    float: left;
    position: absolute;
    top: 0;
}

#franchise .btn li {
    float: left;
    margin: 0 250px 0 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#franchise .btn li:last-child {
    margin: 0;
}

#franchise .btn button {
    color: #666;
    font-size: 14px;
    font-weight: 600;
    padding: 15px 60px;
    box-sizing: border-box;
    border: 1px solid #666;
    background-color: #fff;
    border-radius: 5px;
    cursor: pointer;
}








/* footer */
#footer {
    width: 100%;
    height: 350px;
    background-color: #666;
}

#footer .footer_top {
    width: 100%;
    height: 50px;
    background-color: rgb(82, 82, 82);
}

#footer .footer_btn {
    margin: 0 auto;
    width: 1200px;
    height: 50px;

}

#footer .footer_btn li {
    float: left;
    font-size: 14px;
    font-weight: 600;
    color: #fff;
    margin: 20px 70px 0 0;
}

#footer .footer_btn li:first-child {
    margin-left: 30px;
}

#footer .footer_btn li:nth-child(2) {
    color: red;
}

#footer .footer_btm {
    margin: 0 auto;
    width: 1200px;
    margin-top: 25px;
}

#footer .address {
    float: left;
    line-height: 25px;
    padding: 10px 0 0 30px;
    box-sizing: border-box;
}

#footer .address li {
    font-size: 14px;
    color: #fff;
}

#footer .footer_l {
    float: right;
    padding: 10px 210px 0 0;
    box-sizing: border-box;
    line-height: 25px;
}

#footer .footer_l li {
    font-size: 14px;
    font-weight: 600;
    color: #fff;
}

#footer .footer_sns {
    float: right;
    width: 150px;
    height: 30px;
    margin: 110px 200px 0 0;
    display: inline;
}

#footer .footer_sns li {
    float: left;
}

#footer .footer_sns li a {
    margin-right: 10px;
}

#footer .footer_sns img {
    width: 30px;
    height: 30px;
}

#footer .footer_btm p {
    font-size: 12px;
    color: #fff;
    line-height: 15px;
    padding: 180px 0 0 30px;
    box-sizing: border-box;
}










/* 1500 */
@media screen and (max-width:1500px) {
    #header .login {
        float: right;
        margin: 2.6% 6% 0 0;
        /* margin: 40px 290px 0 0; */
        width: 300px;
        height: 50px;
    }

    #header_in {
        width: 100%;
    }

    #header_in .nav {
        margin: 0 auto;
    }

    #header .navbar {
        width: 100%;
        position: absolute;
        left: 0;
    }

    #header .nav_btn {
        width: 80%;
    }





    /* sns */
    #sns .sns_btn {
        margin-right: 0;
    }

    #sns .sns_btn img {
        width: 35px;
        height: 35px;
    }

    #sns .sns_group .sns_h {
        padding: 80px 0 0 80px;
        box-sizing: border-box;
    }

    #sns .sns_group .sns_h img {
        width: 300px;
        height: 300px;
    }

    #sns .sns_group .sns_b {
        padding: 30px 0 0 80px;
        box-sizing: border-box;
    }

    #sns .sns_group .sns_b img {
        width: 300px;
        height: 300px;
    }




    /* franchise */
    #franchise .franchise_l {
        padding: 50px 0 0 100px;
        box-sizing: border-box;
    }

    #franchise .franchise_r li {
        margin-right: 80px;
    }

    #franchise .btn {
        margin-right: 100px;
    }
}








/* 1200 */
@media screen and (max-width:1200px) {
    #header_in {
        width: 100%;
    }

    #header_in .nav {
        margin: 0 auto;
        width: 85%;
    }

    #header_in .nav li {
        width: 200px;
    }

    #header .navbar {
        width: 100%;
        position: absolute;
        left: 0;
    }

    #header .nav_btn {
        width: 85%;
    }

    #header .nav_btn ul {
        width: 150px;
    }

    #header .nav_btn li {
        padding-left: 40px;
        box-sizing: border-box;
    }




    /* sns */
    #sns .sns_btn {
        margin-right: 0;
    }

    #sns .sns_btn img {
        width: 35px;
        height: 35px;
    }

    #sns .sns_btn h2 {
        margin-left: 5%;
    }

    #sns .sns_group .sns_h {
        padding: 100px 0 0 30px;
        box-sizing: border-box;
    }

    #sns .sns_group .sns_h li {
        width: 230px;
        margin-right: 5%;
    }

    #sns .sns_group .sns_h img {
        width: 230px;
        height: 230px;
    }

    #sns .sns_group .sns_h span {
        width: 50%;
    }

    #sns .sns_group .sns_b {
        padding: 30px 0 0 70px;
        box-sizing: border-box;
    }

    #sns .sns_group .sns_b img {
        width: 230px;
        height: 230px;
    }




    /* franchise */
    #franchise .franchise_l {
        padding: 50px 0 0 70px;
        box-sizing: border-box;
    }

    #franchise .franchise_l li img {
        width: 250px;
        height: 250px;
    }

    #franchise .franchise_l .dt {
        margin: 170px 0 0 -100px;
    }

    #franchise .franchise_l .dt img {
        width: 180px;
        height: 180px;
    }

    #franchise .franchise_r li {
        margin-right: 50px;
    }

    #franchise .franchise_r li img {
        width: 300px;
        height: 200px;
    }

    #franchise .btn {
        width: 700px;
        margin-right: 40px;
        padding: 0;
    }

    #franchise .btn ul {
        right: 60px;
    }

    #franchise .btn li {
        margin-right: 150px;
    }





    /* footer */
    #footer .footer_top {
        width: 90%;
    }

    #footer .footer_btm {
        width: 90%;
    }
}









/* 1000 */
@media screen and (max-width:1000px) {
    #header_in {
        width: 100%;
    }

    #header_in .nav {
        margin: 0 auto;
        width: 95%;
    }

    #header_in .nav ul {
        margin-left: 15px;
    }

    #header_in .nav li {
        width: 180px;
    }

    #header .navbar {
        width: 100%;
        position: absolute;
        left: 0;
    }

    #header .nav_btn {
        width: 90%;
    }

    #header .nav_btn ul {
        width: 150px;
    }

    #header .nav_btn li {
        padding-left: 40px;
        box-sizing: border-box;
    }







    #con_in {
        width: 100%;
    }








    #sns .sns_btn {
        margin-right: -100px;
    }

    #sns .sns_btn img {
        width: 35px;
        height: 35px;
    }

    #sns h2 {
        padding-top: 80px;
        box-sizing: border-box;
    }

    #sns .sns_group .sns_h {
        padding: 100px 0 0 50px;
        box-sizing: border-box;
    }

    #sns .sns_group .sns_h img {
        width: 190px;
        height: 190px;
    }

    #sns .sns_group .sns_b {
        padding: 30px 0 0 50px;
        box-sizing: border-box;
    }

    #sns .sns_group .sns_b img {
        width: 190px;
        height: 190px;
    }





    #franchise .franchise_l {
        padding: 50px 0 0 30px;
        box-sizing: border-box;
    }

    #franchise .franchise_l li img {
        width: 250px;
        height: 250px;
    }

    #franchise .franchise_l .dt {
        margin: 170px 0 0 -100px;
    }

    #franchise .franchise_l .dt img {
        width: 180px;
        height: 180px;
    }

    #franchise .franchise_r li {
        margin-right: 30px;
    }

    #franchise .franchise_r li img {
        width: 250px;
        height: 200px;
    }

    #franchise .btn {
        width: 500px;
        margin-right: 0;
        padding: 0;
    }

    #franchise .btn ul {
        width: 500px;
    }

    #franchise .btn li {
        margin: 0 160px 0 40px;
    }

    #franchise .btn button {
        padding: 10px 30px;
        box-sizing: border-box;
    }





    #footer .footer_top {
        width: 90%;
    }

    #footer .footer_btm {
        width: 90%;
    }

    #footer .address li {
        font-size: 1.2vw;
    }

    #footer .footer_l li {
        font-size: 1.2vw;
    }

    #footer .footer_btn li {
        font-size: 1.2vw;
        margin: 20px 50px 0 0;
    }

    #footer .footer_btm p {
        font-size: 1vw;
    }
}