#wrap {
    width: 100%;
    height: auto;
}

#header {
    width: 100%;
    height: 150px;
}

/* #header .logo {
    display: inline-block;
    position: absolute;
    top: 20px;
    left: 50px;
}

#header .logo a {}

#header .logo img {
    width: 100px;
} */

#header .login {
    float: right;
}

#header .login li {
    float: left;
    margin: 10px 20px 0 0;
}

#header a {
    font-size: 16px;
    color: #000;
}

#header_in {
    margin: 0 auto;
    width: 1200px;
    height: 150px;
}

#header_in .twosome {
    margin: 0 auto;
    width: 560px;
    height: 100px;
    text-align: center;
    position: relative;
}

#header_in .twosome p {
    padding-top: 20px;
    box-sizing: border-box;
    font-size: 27px;
    font-weight: 900;
    color: black;
}

#header_in .twosome span {
    font-size: 14px;
    font-weight: 600;
    color: #666;
}

#header_in .nav {
    width: 1200px;
    height: 50px;
}

#header_in .nav ul {
    width: 100%;
    height: 50px;
}

#header_in .nav li {
    float: left;
    width: 240px;
    height: 50px;
    text-align: center;
    padding-top: 10px;
    box-sizing: border-box;
}

#header_in .nav li a {
    font-size: 20px;
    font-weight: 900;
    color: black;
}













/* main */
#main {
    width: 100%;
    height: 650px;
    position: relative;
}

#main img {
    width: 100%;
    height: 650px;
}

#main .navbar {
    position: absolute;
    width: 100%;
    height: 200px;
    background-color: aliceblue;
    display: flex;
    justify-content: center;

}

#main .nav_btn {
    width: 1200px;
    height: 200px;
    display: flex;
    justify-content: space-between;
}

#main .nav_btn ul {
    float: left;
    margin: 0 auto;
    width: 200px;
    height: 200px;
    padding-top: 20px;
    box-sizing: border-box;
}

#main .nav_btn li {
    padding-left: 70px;
    box-sizing: border-box;
    line-height: 30px;
}

#main .nav_btn a {
    font-size: 16px;
    font-weight: 600;
    color: #666;
}







/* contents */
#contents {
    width: 100%;
    height: 100vh;
    background: linear-gradient(#fff, cornsilk);
}

#con_in {
    margin: 0 auto;
    width: 1200px;
    height: 100vh;
}

#con_in .menu {
    width: 600px;
    height: 400px;
    padding-top: 20px;
    box-sizing: border-box;
    /* background-color: aliceblue; */
}

#con_in .menu p {
    margin: 0 auto;
    padding: 80px 0 0 100px;
    box-sizing: border-box;
}

#con_in .menu span {}

#con_in .menu hr {
    width: 150px;
    margin: 90px 0 0 100px;
}

#con_in .button {
    margin-top: 20px;
    margin-left: 100px;
    font-size: 12px;
    padding: 5px 15px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 5px;
    color: #666;
    background-color: #fff;
    cursor: pointer;
}

#con_in .menu_img {
    float: right;
    width: 600px;
    height: 400px;
    margin-top: 1px;
}

#con_in .menu_img li {
    margin-top: 40px;
}

#con_in .menu_img img {
    width: 200px;
    border-radius: 50%;
    margin: 5px 100px;
}

#con_in .menu_img .img2 {
    margin: 5px 200px;
}










/* sns */
#sns {
    width: 100%;
    height: 100vh;
}

#sns .sns_btn {
    float: right;
    width: 300px;
    height: 50px;
    margin-right: 200px;
}

#sns .sns_btn ul {}

#sns .sns_btn li {
    float: left;
    margin-right: 20px;
}

#sns .sns_btn img {
    width: 50px;
    height: 50px;
    border-radius: 5px;
}

#sns h2 {
    font-size: 50px;
    text-align: center;
    padding-top: 30px;
    box-sizing: border-box;
}

#sns .sns_group {
    width: 100%;
    height: auto;
}

#sns .sns_group .sns_h {
    width: 100%;
    height: 300px;
    padding: 80px 0 0 290px;
    box-sizing: border-box;
}

#sns .sns_group .sns_h li {
    float: left;
    margin-right: 40px;
}

#sns .sns_group .sns_h img {
    width: 300px;
    height: 300px;
}

#sns .sns_group .sns_b {
    width: 100%;
    height: 300px;
    padding-left: 290px;
    box-sizing: border-box;
}

#sns .sns_group .sns_b li {
    float: left;
    margin: 80px 40px 0 0;
}

#sns .sns_group .sns_b img {
    width: 300px;
    height: 300px;
}











/* franchise */
#franchise {
    width: 100%;
    height: 500px;
    background: linear-gradient(rgb(255, 220, 226), #fff);
}

#franchise .franchise_l {
    padding: 50px 0 0 250px;
    box-sizing: border-box;
}

#franchise .franchise_l ul {}

#franchise .franchise_l li {
    float: left;

}

#franchise .franchise_l li img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
}

#franchise .franchise_l .dt {
    margin: 190px 0 0 -100px;
}

#franchise .franchise_l .dt img {
    width: 200px;
    height: 200px;
}

#franchise .franchise_r {
    float: right;
}

#franchise .franchise_r ul {}

#franchise .franchise_r li {
    float: right;
    margin: 30px 250px 0 0;
}

#franchise .franchise_r li:last-child {
    margin-right: 50px;
}

#franchise .franchise_r li img {
    width: 400px;
    height: 250px;
}

#franchise .btn {
    float: right;
    width: 800px;
    height: 50px;
    margin: 50px 270px 0 0;
    position: relative;
}

#franchise .btn ul {
    float: left;
    position: absolute;
    top: 0;
}

#franchise .btn li {
    float: left;
    margin: 0 250px 0 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#franchise .btn li:last-child {
    margin: 0;
}

#franchise .btn button {
    color: #666;
    font-size: 14px;
    font-weight: 600;
    padding: 15px 60px;
    box-sizing: border-box;
    border: 1px solid #666;
    background-color: #fff;
    border-radius: 5px;
    cursor: pointer;
}








/* footer */
#footer {
    width: 100%;
    height: 300px;
    background-color: #666;
}

#footer .footer_top {
    margin: 0 auto;
    width: 1200px;
    height: 150px;
}

#footer .address {
    float: right;
    line-height: 25px;
    padding: 10px 30px 0 0;
    box-sizing: border-box;
}

#footer .address li {
    font-size: 14px;
    color: #fff;
}

#footer .footer_l {
    padding: 10px 0 0 20px;
    box-sizing: border-box;
    line-height: 40px;
}

#footer .footer_l li {
    font-size: 14px;
    font-weight: 600;
    color: #fff;
}

#footer .footer_line {
    margin: 0 auto;
    width: 1200px;
    border: 1px solid #fff;
}

#footer .footer_btm {
    margin: 0 auto;
    width: 1200px;
    height: 150px;
}

#footer .footer_btn {}

#footer .footer_btn li {
    float: left;
    font-size: 14px;
    font-weight: 600;
    color: #fff;
    margin: 20px 70px 0 0;
}

#footer .footer_btn li:first-child {
    margin-left: 30px;
}

#footer .footer_btn li:nth-child(2) {
    color: red;
}

#footer .footer_sns {
    float: right;
    width: 120px;
    height: 30px;
    margin: 75px 40px 0 0;
}

#footer .footer_sns li {
    float: left;
}

#footer .footer_sns li a {
    margin-right: 10px;
}

#footer .footer_sns img {
    width: 30px;
    height: 30px;
}

#footer .footer_btm p {
    font-size: 12px;
    color: #fff;
    line-height: 15px;
    padding-top: 90px;
    box-sizing: border-box;
}









/* 1500 */
@media screen and (max-width:1500px) {
    #header_in {
        width: 95%;
        background-color: aquamarine;
    }

    #header_in .nav {
        margin: 0 auto;
    }





    #main {
        width: 100%;
        position: relative;
    }


    #main .navbar {
        width: 100%;
        position: absolute;
        left: 0;
    }

    #main .nav_btn {
        width: 80%;
    }






    #sns .sns_btn {
        margin-right: 0;
    }

    #sns .sns_btn img {
        width: 35px;
        height: 35px;
    }

    #sns .sns_group .sns_h {
        padding: 80px 0 0 80px;
        box-sizing: border-box;
    }

    #sns .sns_group .sns_h img {
        width: 300px;
        height: 300px;
    }

    #sns .sns_group .sns_b {
        padding: 30px 0 0 80px;
        box-sizing: border-box;
    }

    #sns .sns_group .sns_b img {
        width: 300px;
        height: 300px;
    }





    #franchise .franchise_l {
        padding: 50px 0 0 100px;
        box-sizing: border-box;
    }

    #franchise .franchise_r li {
        margin-right: 80px;
    }

    #franchise .btn {
        margin-right: 100px;
    }
}








/* 1200 */
@media screen and (max-width:1200px) {
    #header_in {
        width: 95%;
        background-color: pink;
    }

    #header_in .nav {
        margin: 0 auto;
        width: 90%;
    }

    #header_in .nav li {
        width: 200px;
    }




    #main {
        width: 100%;
        position: relative;
    }


    #main .navbar {
        width: 100%;
        position: absolute;
        left: 0;
    }

    #main .nav_btn {
        width: 85%;
    }

    #main .nav_btn ul {
        width: 150px;
    }

    #main .nav_btn li {
        padding-left: 40px;
        box-sizing: border-box;
    }





    #sns .sns_btn {
        margin-right: 0;
    }

    #sns .sns_btn img {
        width: 35px;
        height: 35px;
    }

    #sns h2 {
        padding-top: 80px;
        box-sizing: border-box;
    }

    #sns .sns_group .sns_h {
        padding: 100px 0 0 70px;
        box-sizing: border-box;
    }

    #sns .sns_group .sns_h img {
        width: 230px;
        height: 230px;
    }

    #sns .sns_group .sns_b {
        padding: 30px 0 0 70px;
        box-sizing: border-box;
    }

    #sns .sns_group .sns_b img {
        width: 230px;
        height: 230px;
    }





    #franchise .franchise_l {
        padding: 50px 0 0 70px;
        box-sizing: border-box;
    }

    #franchise .franchise_l li img {
        width: 250px;
        height: 250px;
    }

    #franchise .franchise_l .dt {
        margin: 170px 0 0 -100px;
    }

    #franchise .franchise_l .dt img {
        width: 180px;
        height: 180px;
    }

    #franchise .franchise_r li {
        margin-right: 50px;
    }

    #franchise .franchise_r li img {
        width: 300px;
        height: 200px;
    }

    #franchise .btn {
        width: 700px;
        margin-right: 40px;
        padding: 0;
    }

    #franchise .btn ul {
        right: 60px;
    }

    #franchise .btn li {
        margin-right: 150px;
    }






    #footer .footer_top {
        width: 90%;
    }

    #footer .footer_btm {
        width: 90%;
    }
}









/* 1000 */
@media screen and (max-width:1000px) {
    #header_in {
        width: 100%;
        background-color: rgb(184, 255, 184);
    }

    #header_in .nav {
        margin: 0 auto;
        width: 95%;
    }

    #header_in .nav ul {
        margin-left: 15px;
    }

    #header_in .nav li {
        width: 180px;
        background-color: #fff;
    }




    #main {
        width: 100%;
        position: relative;
    }


    #main .navbar {
        width: 100%;
        position: absolute;
        left: 0;
    }

    #main .nav_btn {
        width: 90%;
    }

    #main .nav_btn ul {
        width: 150px;
    }

    #main .nav_btn li {
        padding-left: 40px;
        box-sizing: border-box;
    }







    #con_in {
        width: 100%;
    }








    #sns .sns_btn {
        margin-right: -100px;
    }

    #sns .sns_btn img {
        width: 35px;
        height: 35px;
    }

    #sns h2 {
        padding-top: 80px;
        box-sizing: border-box;
    }

    #sns .sns_group .sns_h {
        padding: 100px 0 0 50px;
        box-sizing: border-box;
    }

    #sns .sns_group .sns_h img {
        width: 190px;
        height: 190px;
    }

    #sns .sns_group .sns_b {
        padding: 30px 0 0 50px;
        box-sizing: border-box;
    }

    #sns .sns_group .sns_b img {
        width: 190px;
        height: 190px;
    }





    #franchise .franchise_l {
        padding: 50px 0 0 30px;
        box-sizing: border-box;
    }

    #franchise .franchise_l li img {
        width: 250px;
        height: 250px;
    }

    #franchise .franchise_l .dt {
        margin: 170px 0 0 -100px;
    }

    #franchise .franchise_l .dt img {
        width: 180px;
        height: 180px;
    }

    #franchise .franchise_r li {
        margin-right: 30px;
    }

    #franchise .franchise_r li img {
        width: 250px;
        height: 200px;
    }

    #franchise .btn {
        width: 500px;
        margin-right: 0;
        padding: 0;
    }

    #franchise .btn ul {
        width: 500px;
    }

    #franchise .btn li {
        margin: 0 160px 0 40px;
    }

    #franchise .btn button {
        padding: 10px 30px;
        box-sizing: border-box;
    }





    #footer .footer_top {
        width: 90%;
    }

    #footer .footer_btm {
        width: 90%;
    }

    #footer .address li {
        font-size: 1.2vw;
    }

    #footer .footer_l li {
        font-size: 1.2vw;
    }

    #footer .footer_btn li {
        font-size: 1.2vw;
        margin: 20px 50px 0 0;
    }

    #footer .footer_btm p {
        font-size: 1vw;
    }
}