@media screen and (max-width:480px) {
    #wrap {
        width: 100%;
    }

    #header {
        width: 100%;
        height: 100px;
    }

    #header .login {
        display: none;
    }

    #header a {
        font-size: 12px;
    }

    #header_in {
        width: 100%;
        background-color: #fff;
    }

    #header_in .navbtn {
        width: 100px;
        height: 100px;
        padding: 20px;
        box-sizing: border-box;
    }

    #header_in .navbtn>div {
        width: 50px;
        height: 8px;
        background-color: red;
    }

    #header_in .navbtn>div:nth-child(2) {
        margin-top: 5px;
        width: 50px;
        height: 8px;
        background-color: red;
    }

    #header_in .navbtn>div:nth-child(3) {
        margin-top: 5px;
        width: 50px;
        height: 8px;
        background-color: red;
    }

    #header_in .twosome {
        width: 45%;
        /* 560px */
        margin-top: -90px;
    }

    #header_in .twosome p {
        font-size: 4vw;
    }

    #header_in .twosome span {
        font-size: 2vw;
    }

    #header_in .nav {
        display: none;
    }






    /* main */
    #main {
        width: 100%;
        height: 300px;
    }

    #main .group {
        width: 100%;
        height: 300px;
    }

    #main .main_img li {
        width: 100%;
        height: 300px;
    }

    #main .main_img img {
        width: 100%;
        height: 300px;
    }

    #main .main_coffee {
        font-size: 4vw;
    }

    #main .main_dessert {
        font-size: 4vw;
    }






    /* contents */
    #contents {
        width: 100%;
        height: 540px;
    }

    #con_in {
        width: 100%;
        height: 540px;
    }

    #con_in .menu {
        width: 250px;
        height: 200px;
        padding-top: 20px;
        box-sizing: border-box;
    }

    #con_in .menu p {
        font-size: 3vw;
        font-weight: 600;
        padding: 20px 0 0 10px;
        box-sizing: border-box;
    }

    #con_in .menu span {}

    #con_in .menu hr {
        margin: 20px 0 0 0;
    }

    #con_in .button {
        margin: 10px 0 0 10px;
        font-size: 2.5vw;
    }

    #con_in .line {
        width: 100%;
        margin-top: 30px;
    }

    #con_in .menu_img {
        float: right;
        width: 250px;
        height: 200px;
        margin-top: 5px;
    }

    #con_in .menu_img li {
        margin-top: 10px;
    }

    #con_in .menu_img img {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        margin: 1% 0 0 15%;
    }

    #con_in .menu_img .img2 {
        margin: 1% 0 0 40%;
    }







    /* sns */
    #sns {
        width: 100%;
        height: 400px;
    }

    #sns .sns_btn {
        width: 100%;
        margin-right: 0;
        padding: 0;
    }

    #sns .sns_btn h2 {
        width: 30%;
        font-size: 6vw;
        margin-left: 5%;
        padding: 10% 0 0 0;
        box-sizing: border-box;
    }

    #sns .sns_btn ul {
        width: 20%;
        margin: 0;
        margin-left: 100%;
        margin-bottom: 2%;
    }

    #sns .sns_btn li {
        float: left;
        margin-right: 3%;
    }

    #sns .sns_btn img {
        width: 25px;
        height: 25px;
        border-radius: 5px;
    }

    #sns .sns_group {
        width: 100%;
        height: auto;
    }

    #sns .sns_group .sns_h {
        padding: 10% 0 0 3%;
        box-sizing: border-box;
    }

    #sns .sns_group .sns_h li {
        float: left;
        margin-right: 5%;
        width: 20%;
    }

    #sns .sns_group .sns_h img {
        width: 100px;
        height: 100px;
    }

    #sns .sns_group .sns_h span {
        width: 100%;
        font-size: 2.2vw;
        top: 85%;
    }

    #sns .sns_group .sns_b {
        padding: 10% 0 0 3%;
        box-sizing: border-box;
    }

    #sns .sns_group .sns_b li {
        float: left;
        margin: 5% 5% 0 0;
        width: 20%;
    }

    #sns .sns_group .sns_b img {
        width: 100px;
        height: 100px;
    }

    #sns .sns_group .sns_b span {
        width: 100%;
        font-size: 2.2vw;
        top: 85%;
    }









    /* franchise */
    #franchise {
        width: 100%;
        height: 300px;
        background: linear-gradient(#fff, rgb(255, 220, 226));
    }

    #franchise .franchise_l {
        display: none;
    }

    #franchise .franchise_r {
        float: none;
        width: 100%;
        height: 200px;
        position: relative;
    }

    #franchise .franchise_r ul {}

    #franchise .franchise_r li {
        float: none;
        position: absolute;
        top: 50px;
        left: 260px;
    }

    #franchise .franchise_r li:nth-child(2) {
        margin: 30px 0 0 -200px;
    }

    #franchise .franchise_r li img {
        width: 170px;
        height: 100px;
    }

    #franchise .btn {
        width: 82%;
        height: 50px;
        margin: 0;
        /* position: fixed; */
    }

    #franchise .btn ul {
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
    }

    #franchise .btn li {
        margin: 0 22% 0 0;
    }

    #franchise .btn button {
        padding: 10px 20px;
        box-sizing: border-box;
    }







    /* footer */
    #footer {
        width: 100%;
        height: 280px;
        background-color: #666;
    }

    #footer .footer_top {
        margin: 0 auto;
        width: 100%;
        height: 50px;
    }

    #footer .address {
        float: right;
        line-height: 15px;
        padding: 5% 3% 0 2%;
        box-sizing: border-box;
    }

    #footer .address li {
        font-size: 1vw;
        color: #fff;
    }

    #footer .footer_l {
        padding: 20px 0 0 10px;
        box-sizing: border-box;
        line-height: 30px;
    }

    #footer .footer_l li {
        font-size: 1vw;
        font-weight: 600;
        color: #fff;
    }

    #footer .footer_line {
        margin: 0 auto;
        width: 100%;
        border: 1px solid #fff;
    }

    #footer .footer_btn {
        width: 100%;
    }

    #footer .footer_btn li {
        float: left;
        font-size: 1vw;
        font-weight: 600;
        color: #fff;
        margin: 10px 35px 0 0;
    }

    #footer .footer_btn li:first-child {
        margin-left: 90px;
    }

    #footer .footer_btn li:nth-child(2) {
        color: red;
    }

    #footer .footer_btn li:nth-child(4) {
        margin-left: 105px;
    }

    #footer .footer_sns {
        float: right;
        width: 120px;
        height: 30px;
        margin: 15% 0 0 0;
    }

    #footer .footer_sns li {
        float: left;
    }

    #footer .footer_sns li a {
        margin-right: 5px;
    }

    #footer .footer_sns img {
        width: 30px;
        height: 30px;
    }

    #footer .footer_btm {
        margin: 0 auto;
        width: 100%;
        height: 150px;
    }

    #footer .footer_btm p {
        font-size: 0.8vw;
        color: #fff;
        line-height: 15px;
        padding: 30% 0 0 2%;
        box-sizing: border-box;
    }
}