* {
    margin: 0;
    padding: 0;
}

ul,
li {
    list-style: none;
}

a {
    text-decoration: none;
}









#wrap {
    width: 100%;
}

#header {
    width: 100%;
    height: 150px;
}

/* #header .logo {
    display: inline-block;
    position: absolute;
    top: 20px;
    left: 50px;
}

#header .logo a {}

#header .logo img {
    width: 100px;
} */

#header .login {
    float: right;
}

#header .login li {
    float: left;
    margin: 10px 20px 0 0;
}

#header a {
    font-size: 16px;
    color: #000;
}

#header_in {
    margin: 0 auto;
    width: 1200px;
    height: 150px;
}

#header_in .twosome {
    margin: 0 auto;
    width: 560px;
    height: 100px;
    text-align: center;
    position: relative;
}

#header_in .twosome p {
    padding-top: 20px;
    box-sizing: border-box;
    font-size: 27px;
    font-weight: 900;
    color: black;
}

#header_in .twosome span {
    font-size: 14px;
    font-weight: 600;
    color: #666;
}

#header_in .nav {
    width: 1200px;
    height: 70px;
}

#header_in .nav ul {}

#header_in .nav li {
    float: left;
    padding: 15px 100px 0 0;
}

#header_in .nav li:first-child {
    margin-left: 315px;
}

#header_in .nav li a {
    font-size: 16px;
    color: black;
}







/* main */
#main {
    width: 100%;
    height: 650px;
}

#main img {
    width: 100%;
    height: 650px;
}










/* contents */
#contents {
    width: 100%;
    height: 100vh;
    background: linear-gradient(#fff, cornsilk);
}

#con_in {
    margin: 0 auto;
    width: 1200px;
    height: 100vh;
}

#con_in .menu {
    width: 600px;
    height: 400px;
    padding-top: 20px;
    box-sizing: border-box;
    /* background-color: aliceblue; */
}

#con_in .menu p {
    margin: 0 auto;
    padding: 80px 0 0 100px;
    box-sizing: border-box;
}

#con_in .menu span {}

#con_in .menu hr {
    width: 150px;
    margin: 90px 0 0 100px;
}

#con_in .button {
    margin-top: 20px;
    margin-left: 100px;
    font-size: 12px;
    padding: 5px 15px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 5px;
    color: #666;
    background-color: #fff;
    cursor: pointer;
}

#con_in .menu_img {
    float: right;
    width: 600px;
    height: 400px;
    margin-top: 1px;
}

#con_in .menu_img li {
    margin-top: 40px;
}

#con_in .menu_img img {
    width: 200px;
    border-radius: 50%;
    margin: 5px 100px;
}

#con_in .menu_img .img2 {
    margin: 5px 200px;
}










/* sns */
#sns {
    width: 100%;
    height: 100vh;
}

#sns .sns_btn {
    float: right;
    width: 300px;
    height: 50px;
    margin-right: 200px;
}

#sns .sns_btn ul {}

#sns .sns_btn li {
    float: left;
    margin-right: 20px;
}

#sns .sns_btn img {
    width: 50px;
    height: 50px;
    border-radius: 5px;
}

#sns h2 {
    font-size: 50px;
    text-align: center;
    padding-top: 30px;
    box-sizing: border-box;
}

#sns .sns_group {
    width: 100%;
    height: auto;
}

#sns .sns_group .sns_h {
    width: 100%;
    height: 300px;
    padding: 80px 0 0 290px;
    box-sizing: border-box;
}

#sns .sns_group .sns_h li {
    float: left;
    margin-right: 40px;
}

#sns .sns_group .sns_h img {
    width: 300px;
    height: 300px;
}

#sns .sns_group .sns_b {
    width: 100%;
    height: 300px;
    padding-left: 290px;
    box-sizing: border-box;
}

#sns .sns_group .sns_b li {
    float: left;
    margin: 80px 40px 0 0;
}

#sns .sns_group .sns_b img {
    width: 300px;
    height: 300px;
}











/* franchise */
#franchise {
    width: 100%;
    height: 500px;
    background: linear-gradient(rgb(255, 220, 226), #fff);
}

#franchise .franchise_l {
    padding: 50px 0 0 250px;
    box-sizing: border-box;
}

#franchise .franchise_l ul {}

#franchise .franchise_l li {
    float: left;

}

#franchise .franchise_l li img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
}

#franchise .franchise_l .dt {
    margin: 190px 0 0 -100px;
}

#franchise .franchise_l .dt img {
    width: 200px;
    height: 200px;
}

#franchise .franchise_r {
    float: right;
}

#franchise .franchise_r ul {}

#franchise .franchise_r li {
    float: right;
    margin: 30px 250px 0 0;
}

#franchise .franchise_r li:last-child {
    margin-right: 50px;
}

#franchise .franchise_r li img {
    width: 400px;
    height: 250px;
}

#franchise .btn {
    float: right;
    width: 800px;
    height: 50px;
    margin: 50px 270px 0 0;
    position: relative;
}

#franchise .btn ul {
    float: left;
    position: absolute;
    top: 0;
}

#franchise .btn li {
    float: left;
    margin: 0 250px 0 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#franchise .btn li:last-child {
    margin: 0;
}

#franchise .btn button {
    color: #666;
    font-size: 14px;
    font-weight: 600;
    padding: 15px 60px;
    box-sizing: border-box;
    border: 1px solid #666;
    background-color: #fff;
    border-radius: 5px;
    cursor: pointer;
}








/* footer */
#footer {
    width: 100%;
    height: 350px;
    background-color: #666;
}

#footer .footer_top {
    margin: 0 auto;
    width: 1200px;
    height: 150px;
}

#footer .address {
    float: right;
    line-height: 25px;
    padding: 10px 30px 0 0;
    box-sizing: border-box;
}

#footer .address li {
    font-size: 14px;
    color: #fff;
}

#footer .footer_l {
    padding: 10px 0 0 20px;
    box-sizing: border-box;
    line-height: 40px;
}

#footer .footer_l li {
    font-size: 14px;
    font-weight: 600;
    color: #fff;
}

#footer .footer_line {
    margin: 0 auto;
    width: 1200px;
    border: 1px solid #fff;
}

#footer .footer_btm {
    margin: 0 auto;
    width: 1200px;
    height: 200px;
}

#footer .footer_btn {}

#footer .footer_btn li {
    float: left;
    font-size: 14px;
    font-weight: 600;
    color: #fff;
    margin: 20px 70px 0 0;
}

#footer .footer_btn li:first-child {
    margin-left: 30px;
}

#footer .footer_btn li:nth-child(2) {
    color: red;
}

#footer .footer_sns {
    float: right;
    width: 120px;
    height: 30px;
    margin: 110px 40px 0 0;
}

#footer .footer_sns li {
    float: left;
}

#footer .footer_sns li a {
    margin-right: 10px;
}

#footer .footer_sns img {
    width: 30px;
    height: 30px;
}

#footer .footer_btm p {
    font-size: 12px;
    color: #fff;
    padding: 130px 0 0 30px;
    box-sizing: border-box;
}